*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.container{
  max-width:1100px;
  margin: 0 auto;
}

.menu{
margin-top: 25px;
margin-bottom: 150px;
}

.menu-item{
    display: inline-block;
    padding: 15px 25px;
    position: relative;
}
.menu-item a{
    color: black;
    text-transform: uppercase;
}
.menu-item a:hover{
    color:brown;
}

.menu-item::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: black;
    bottom: 3px;
    left: 0;
    transition: 0.5s;
}

.menu-item:hover::before{
    width: 100%;
}
   

.h1{
    margin-bottom: 50px;
}
.head-section{
    margin-bottom: 200px;
}
.btn{
    margin-top: 50px;
    width: 175px;
    height: 75px;
}
.text{
    color: white;
    transition: .5s ease-in-out;
}
.btn a{
    background-color: rgb(76, 119, 175);
    padding: 20px 25px;
    display: block;
    transition: .5s ease-in-out;
}
.text:hover{
    background-color: red;
}

.about-me{
    margin: auto;
    width: 500px;
    height: 200px;
}
.h2{
    margin-bottom: 50px;
    margin-left: 200px;
}

.projects{
    height: 200px;
    width: 3400px;
    background-color: rgb(76, 119, 175);
    padding-top: 75px;
}

.projects-item{
display: inline-block;
}

.my-job{
    margin: auto;
    width: 500px;
    height: 200px;
    margin-top: 100px;
}

.h22{
    margin-bottom: 50px;
    margin-left: 150px;
}

.picture{
margin-left: 1000px;
margin-bottom: 100px;
}

.end{
    height: 150px;
    width: 3400px;
    background-color: rgb(76, 119, 175);
    padding: 50px;
}

.projects-item img{
    margin: 0 15px;
    display: inline-block;
}
.projects-item img:last-child{
    margin-left: 0;
}
.projects-item img:first-child{
    margin-left: 0;
}